- domain_config = DomainConfig.new(@domain_name)
- password_sync_mode = params[:password_sync].present? || !MonsoonOpenstackAuth.configuration.password_session_auth_allowed?
= inside_layout 'login' do
  .container

    - if domain_config.federation?
      = render partial: 'monsoon_openstack_auth/sessions/federation', locals: { params: params, domain_config: domain_config }
    - else
      = render partial: 'monsoon_openstack_auth/sessions/login_form', locals: { password_sync_mode: password_sync_mode, domain_config: domain_config}

