= content_for :main_toolbar do
  Kubernetes as a Service (Gardener)

= javascript_include_tag "kubernetes_ng_app_widget", data: {basepath: plugin("kubernetes_ng").root_path, mountpoint: Core::PluginsManager.plugin("kubernetes_ng").mount_point, region: current_region }
