
.bs-callout.bs-callout-info
  %h4
    Here you can find the parameters needed to access the project with an openstack client.

  %p
    First you need to install the openstack client. If not already done you can follow the officially provided instructions from the
    %a(title='OpenStack Clients' href='https://docs.openstack.org/newton/user-guide/common/cli-install-openstack-command-line-clients.html' target='blank') OpenStack Documentation
  %p
    When openstack CLI is installed and ready you can choose one of the following authentication methods:

%ul
  %li
    %h5
      %a{ data: { toggle: 'collapse', target: '#api_endpoints_userauth' }, aria: { expanded: 'false', controls: 'api_endpoints_userauth' }, href: '#' }
        How to use the OpenStack CLI with User Authentication
    #api_endpoints_userauth.collapse
      = render partial: 'api_endpoints_userauth'

  %li
    %h5
      %a{ data: { toggle: 'collapse', target: '#api_endpoints_app_credentials' }, aria: { expanded: 'false', controls: 'api_endpoints_app_credentials' }, href: '#' }
        How to use the OpenStack CLI with Application Credentials
    #api_endpoints_app_credentials.collapse
      = render partial: 'api_endpoints_app_credentials'
