.bs-callout.bs-callout-info
  %p
    Note: Security groups apply to virtual servers only. For baremetal server security options, please refer to our 
    %a(href="#{sap_url_for('documentation')}docs/customer/networking/security-groups/" target='_blank') Documentation

:javascript 
  if(window.location.href.indexOf('?r=') < 0)  {
      window.history.replaceState(null, "Security Groups", window.location.href+'/?r=');
  }

= javascript_include_tag "networking_security_groups_widget"
